body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: sans serif;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
.header .wrapper {
  width: 1200px;
  position: relative;
}
.header a.title {
  font-size: 200%;
  color: #fff;
  text-decoration: none;
}
.header a.title:hover {
  color: #ff9;
}
.header .status {
  background-color: #eee;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -11px;
  text-align: right;
  border-radius: 5px 5px 0 0;
}
.header .status .page {
  padding: 0 15px;
  color: #333;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ccc;
}
.header .status .buttons {
  padding: 5px;
  padding-bottom: 1px;
}
.header .status .buttons span {
  padding: 1px 10px;
  background-color: #666;
  cursor: pointer;
  border-radius: 2px;
  font-size: .8em;
  font-weight: bold;
}
.header .status .buttons span:hover {
  padding: 0 9px;
  border: 1px solid #000;
}
.header .status .buttons span.status0 {
  background-color: transparent;
  color: #a30;
}
.header .status .buttons span.status1 {
  background-color: transparent;
  color: #e70;
}
.header .status .buttons span.status2 {
  background-color: transparent;
  color: #2a3;
}
.header .status .buttons span.status0.focus {
  background-color: #a30;
  color: #fff;
}
.header .status .buttons span.status1.focus {
  background-color: #e70;
  color: #fff;
}
.header .status .buttons span.status2.focus {
  background-color: #2a3;
  color: #fff;
}
/* nav -------------------------- */
.navigation {
  width: 200px;
  padding: 0;
  border-right: 1px solid #ba9;
  float: left;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.navigation ul li {
  list-style: none;
  padding: 5px 20px;
  border-bottom: 1px solid #ba9;
  cursor: pointer;
  color: #666;
}
.navigation ul li:hover {
  background-color: #cba;
  color: #000;
}
.navigation ul li.focus {
  background-color: #edc;
  color: #000;
}
.navigation ul li.status0:after {
  content: "TODO";
  float: right;
  margin-right: -15px;
  font-size: .6em;
  margin-top: .4em;
  font-weight: bold;
  color: #a30;
}
.navigation ul li.status1:after {
  content: "WIP";
  float: right;
  margin-right: -15px;
  font-size: .6em;
  margin-top: .4em;
  font-weight: bold;
  color: #e70;
}
.navigation ul li.status2:after {
  content: "DONE";
  float: right;
  margin-right: -15px;
  font-size: .6em;
  margin-top: .4em;
  font-weight: bold;
  color: #2a3;
}
.glossary {
  position: absolute;
  right: 500px;
  bottom: 0;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 5px 20px;
  margin-bottom: -10px;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}
/* body ------------------------ */
.content {
  position: relative;
}
.glossary-panel {
  position: absolute;
  left: 220px;
  background-color: #fff;
  z-index: 1;
  height: auto;
}
.original {
  position: relative;
  float: left;
  width: 500px;
  padding: 12px;
}
.translated {
  position: relative;
  float: left;
  width: 500px;
  padding: 10px;
}
.frame {
  width: 500px;
  height: 90%;
  border: 0;
}
